.btn {
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn-green {
    color: white;
    background-color: rgb(75, 75, 239);
}

.btn-green:hover {
    opacity: 0.8;
    background-color: rgb(146, 155, 251);
    color: black;
    font-weight: bold;
    border-color: white;
}

.btn-green:active {
    background-color: rgb(146, 155, 251);
}

form {
    margin: 0 auto;
    margin: 0 auto;
    width: 300px;
    background-color: white;
    border-radius: 3px;
    padding: 45px;
    box-shadow: 0px 15px 10px #333;
}

input,
textarea {
    outline: blue;
    width: 290px;
    resize: none;
}

.field {
    padding: 10px;
    width: 280px;
    border: solid 1px #ccc;
}

.field:focus {
    border-color: rgb(146, 155, 251);
}

.center-content {
    text-align: center;
}

div#container {
    box-shadow: 0px 15px 15px 10px #333;
    width: 800px;
    height: 500px;
    padding: 10px;
    border-radius: 4px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h3 {
    margin: 50px;
    text-align: center;
}

i {
    width: 40px;

}

a {
    text-decoration: none;
    color: blue;
}


.frmPass {
    text-align: center;
}

p {
    text-align: left;
}

.btnPass {
    padding: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*header*/
html {
    background: linear-gradient(to right, #b2e2f2, #b0f2c2);
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}