.btn {
    border-radius: 3px;
    display: inline-block;
    padding: 20 px 15px;
    text-decoration: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-green {
    color: white;
    background-color: rgb(146, 155, 251);
}

.btn-green:hover {
    background-color: rgb(146, 155, 251);
}

.btn-green:active {
    background-color: rgb(146, 155, 251);
}

form {
    margin: 0 auto;
    margin: 0 auto;
    width: 300px;
    background-color: white;
    border-radius: 3px;
    padding: 45px;
    box-shadow: 0px 15px 10px #333;
}

input,
textarea {
    outline: blue;
    width: 290px;
}

.field {
    padding: 10px;
    width: 280px;
    border: solid 1px #ccc;
}

.field:focus {
    border-color: rgb(146, 155, 251);
}

.center-content {
    text-align: center;
}

div#container {
    box-shadow: 0px 15px 15px 10px #333;
    width: 800px;
    height: 500px;
    padding: 10px;
    border-radius: 4px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h3 {
    margin: 50px;
}

i {
    width: 40px;

}
/*Codigo de cellphone*/
div#general {
    box-shadow: 0px 15px 15px 10px rgb(131, 131, 131);
    width: 900px;
    padding: 50px;
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: auto;
    height: auto;
    margin: 25px;
}
.desciption{
    width: 240px;
    height: 90px;
    border-radius: 190px;
    /*izquierda,abajo ,centro, arriba*/
    box-shadow:  10px 10px 20px 10px rgb(174, 180, 250);;
}
